[package]
name = "{name}"
version = "0.1.0"
edition = "2021"

[dependencies]
text_io = "0.1.9"
wyf_lib = { path = "../my_lib" }

[[bin]]
name = "a"
path = "src/a.rs"

[[bin]]
name = "b"
path = "src/b.rs"

[[bin]]
name = "c"
path = "src/c.rs"

[[bin]]
name = "d"
path = "src/d.rs"

[[bin]]
name = "e"
path = "src/e.rs"

[[bin]]
name = "f"
path = "src/f.rs"

[[bin]]
name = "g"
path = "src/g.rs"

[[bin]]
name = "h"
path = "src/h.rs"